<!-- Portfolio Modals -->
{% for project in site.portfolio %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ project.title }}</h2>
                
                
                <!-- Carousel -->
                <div class="carousel-container">
                  <div class="carousel my-carousel carousel--translate">
                    {% assign main_loop_i = forloop.index %}
                    {% for image in project.images %}
                    {% assign next_i = forloop.index0 | plus: 1 | modulo: forloop.length %}
                    {% assign prev_i = forloop.index0 | minus: 1 %}
                    <input class="carousel__activator" type="radio" name="carousel" id="{{ image.id }}{{ main_loop_i }}" {% if forloop.first %}checked="checked"{% endif %} />
                    <div class="carousel__controls">
                      <label class="carousel__control carousel__control--backward" for="{{ project.images[prev_i].id }}{{ main_loop_i }}"></label>
                      <label class="carousel__control carousel__control--forward" for="{{ project.images[next_i].id }}{{ main_loop_i }}"></label>
                    </div>
                    {% endfor %}

                    <div class="carousel__track">
                    {% for image in project.images %}
                      <li class="carousel__slide">
                        <img src="{{ image.url }}" alt="">
                      </li>
                    {% endfor %}
                    </div>

                    <div class="carousel__indicators">
                      {% for image in project.images %}
                      <label class="carousel__indicator" for="{{ image.id }}{{ main_loop_i }}"></label>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!-- End Carousel -->

                <p class="item-intro text-muted">{{ project.desc }}</p>
                <p>{{ project.content }}</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext.portfolio.closebutton | default: "Close Project" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Portfolio Modals -->